<h1>2010 - 2011 Season</h1>

<label for="fromDateExt">From</label><input type="text" id="fromDateExt" name="fromDateExt" />

<label for="toDateExt">to</label><input type="text" id="toDateExt" name="toDateExt" />

<input type="hidden" id="fromDateInt" />
<input type="hidden" id="toDateInt" />

<input type="submit" value="Update"/>

<p id="status"></p>

<div id="table"></div>
