<!DOCTYPE html>
<html>
<head>
  <title>Fantasy NBA player rater</title>

  <%= stylesheet_link_tag "jquery-ui-1.8.14.custom.css" %>
  <%= javascript_include_tag "jquery-1.5.1.min", "jquery-ui-1.8.14.custom.min", "application" %>
  <%= csrf_meta_tag %>

</head>
<body>

<%= yield %>

</body>
</html>
